# Exploratory Data Analysis (EDA)


## 1. Report overview

### 1.1. Project Title: 	**World Women Empowerment: Demystifying Preconceptions About Women's Roles in Society**
### 1.2. Subtitle: A Global Analysis of Female Representation in Top Positions and Its Socio-Economic Impact (2004-2020)

![Womem Empowerment](https://png.pngtree.com/background/20220729/original/pngtree-women-empowerment-female-power-community-picture-image_1870427.jpg)

### 1.3. Context:

Despite progress towards gender equality, women often face stereotypes that directly or indirectly limit their roles to homestaying related jobs, all over the world, even in developed countries. 
This can contribute to discourage women from entering the workforce, especially in high-tech fields, and pursuing STEM education, contributing for a bigger gender gap.
As a woman in this society and as a woman in tech, I witness firsthand how male dominance and society steryotypes can negatively influence us.

Addressing these biases is crucial for empowering women all over the world.
    
- As a woman in tech, I want to understand my chances of succeeding in a top role, recognize my value, and understand how impactful we can be in leadership positions.

- As a business leader, I want to understand how gender diversity contributes to and impacts a country performance. When understanding this impact, I aim to promote and create more opportunities for women to join important decision-making positions.

- As a member of the general public, I want to understand the socio-economic implications of women's representation in leadership and the impacts per country on women with STEM education. I aim to combat stereotypes about the role of women in society and advocate for a more inclusive future.

This project uses data from The World Bank Group's Gender Statistics database (2004-2023) to explore these issues. It aims to empower women by highlighting their potential in leadership roles and by persuing STEM education, demonstrating the impact of gender diversity on organizational success, and advocating for societal change towards greater gender equality.


### 1.4. Goal:

In this EDA we are going to focus on the following questions:

- 1 - Which countries have the highest and lowest representation of women in top positions?
- 2 - How does this compare with the overall percentage of women in the workforce and in STEM?
- 3 - Is there a correlation between GDP and the percentage of women in top positions?
- 4 - Are countries with higher education levels for women (especially in STEM) showing better gender diversity in leadership?


### 1.5. Dataset used:

https://databank.worldbank.org/reports.aspx?ReportId=153622&Type=Table     World Bank Group's Gender Statistics database (2004-2023)

gender_statistics.csv - 	105 women data related indicators

## 2. Data Overview

### 2.1. Import libraries

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import folium
import numpy as np

### 2.2 Load data

In [3]:
dataset = pd.read_csv('./DataSet/gender_statistics.csv')
dataset

,Time,Country Name,Ratio of female to male labor force participation rate (%) (modeled ILO estimate),"Cost of business start-up procedures, male (% of GNI per capita)","Cost of business start-up procedures, female (% of GNI per capita)",Cost of business start-up procedures (% of GNI per capita),"Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)","Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)","Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)",...,"Start-up procedures to register a business, male (number)","Start-up procedures to register a business, female (number)","Tertiary education, academic staff (% female)",Time required to start a business (days),"Time required to start a business, male (days)","Time required to start a business, female (days)","Vulnerable employment, total (% of total employment) (modeled ILO estimate)","Vulnerable employment, female (% of female employment) (modeled ILO estimate)","Vulnerable employment, male (% of male employment) (modeled ILO estimate)",Women Business and the Law Index Score (scale 1-100)
0,2004,Afghanistan,20.176476,72.0,72.0,72.0,NaN,NaN,NaN,NaN,...,4.0,5.0,11.959570,9.5,9.0,10.0,91.435841,98.277575,90.073931,26.250
1,2004,Albania,70.592238,32.3,32.3,32.3,NaN,NaN,NaN,NaN,...,12.0,12.0,NaN,40.0,40.0,40.0,57.190908,59.219696,55.720096,80.000
2,2004,Algeria,18.121593,14.6,14.6,14.6,NaN,NaN,NaN,NaN,...,13.0,13.0,31.616659,24.0,24.0,24.0,28.579172,30.601438,28.228000,40.625
3,2004,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Andorra,NaN,NaN,NaN,NaN,15.42804,16.31159,NaN,NaN,...,NaN,NaN,47.619049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4343,Data from database: Gender Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4344,Last Updated: 04/15/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2.3. Get to know the data

In [5]:
#size
dataset.shape

(4345, 105)

In [33]:
#Check columns and columns' types
dataset.dtypes

Time                                                                                                                         object
Country Name                                                                                                                 object
Ratio of female to male labor force participation rate (%) (modeled ILO estimate)                                           float64
Cost of business start-up procedures, male (% of GNI per capita)                                                            float64
Cost of business start-up procedures, female (% of GNI per capita)                                                          float64
Cost of business start-up procedures (% of GNI per capita)                                                                  float64
Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)                          float64
Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)                           float64
Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)                            float64
Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)                             float64
Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)                                       float64
Employers, female (% of female employment) (modeled ILO estimate)                                                           float64
Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)                              float64
Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)                                     float64
Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)                                      float64
Employers, male (% of male employment) (modeled ILO estimate)                                                               float64
Employers, total (% of total employment) (modeled ILO estimate)                                                             float64
Employment to population ratio, 15+, female (%) (modeled ILO estimate)                                                      float64
Employment to population ratio, 15+, male (%) (modeled ILO estimate)                                                        float64
Employment to population ratio, 15+, total (%) (modeled ILO estimate)                                                       float64
Expected Years of School                                                                                                    float64
Expected Years of School, Male                                                                                              float64
Expected years of schooling, female                                                                                         float64
Female share of employment in senior and middle management (%)                                                              float64
Female professional and technical workers (% of total)                                                                      float64
Female share of graduates in Arts and Humanities programmes, tertiary (%)                                                   float64
Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)             float64
Female share of graduates in Education programmes, tertiary (%)                                                             float64
Female share of graduates in Health and Welfare programmes, tertiary (%)                                                    float64
Female share of graduates in Natural Sciences, Mathematics and Statistics programmes, tertiary (%)                          float64
Female share of graduates in Services programmes, tertiary (%)                                                              float64
Female share of graduates in unknown or unspecified fields, tertiary (%)                                                    float64
Female share of graduates in Agriculture, Forestry, Fisheries and Veterinary programmes, tertiary (%)                       float64
Female share of graduates in Business, Administration and Law programmes, tertiary (%)                                      float64
Female share of graduates in Engineering, Manufacturing and Construction programmes, tertiary (%)                           float64
Female share of graduates in Information and Communication Technologies programmes, tertiary (%)                            float64
Female share of graduates in other fields than Science, Technology, Engineering and Mathematics programmes, tertiary (%)    float64
Female share of graduates in Social Sciences, Journalism and Information programmes, tertiary (%)                           float64
Firms with female participation in ownership (% of firms)                                                                   float64
Firms with female top manager (% of firms)                                                                                  float64
GDP growth (annual %)                                                                                                       float64
GDP per capita (Current US$)                                                                                                float64
GDP (current US$)                                                                                                           float64
GDP per capita (constant 2010 US$)                                                                                          float64
Gini index                                                                                                                  float64
GNI per capita, PPP (current international $)                                                                               float64
GNI per capita, Atlas method (current US$)                                                                                  float64
GNI, Atlas method (current US$)                                                                                             float64
Government expenditure on education, total (% of GDP)                                                                       float64
Gross graduation ratio, tertiary, male (%)                                                                                  float64
Gross graduation ratio, tertiary, total (%)                                                                                 float64
Gross graduation ratio, tertiary, female (%)                                                                                float64
Human Capital Index (HCI), Female (scale 0-1)                                                                               float64
Human Capital Index (HCI) (scale 0-1)                                                                                       float64
Human Capital Index (HCI), Male (scale 0-1)                                                                                 float64
Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)                             float64
Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)                                 float64
Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)                               float64
Labor force, male                                                                                                           float64
Labor force, female                                                                                                         float64
Labor force, female (% of total labor force)                                                                                float64
Labor force, total                                                                                                          float64
Labor force with advanced education, female (% of female working-age population with advanced education)                    float64
Labor force with advanced education (% of total working-age population with advanced education)                             float64
Labor force with advanced education, male (% of male working-age population with advanced education)                        float64
Number of male directors                                                                                                    float64
Number of male business owners                                                                                              float64
Number of male sole proprietors                                                                                             float64
Number of female sole proprietors                                                                                           float64
Number of female business owners                                                                                            float64
Number of female directors                                                                                                  float64
Population, female (% of total)                                                                                             float64
Population, total                                                                                                           float64
Population, female                                                                                                          float64
Population, male                                                                                                            float64
Proportion of women in ministerial level positions (%)                                                                      float64
Ratio of female to male labor force participation rate (%) (national estimate)                                              float64
Retirement age with full benefits, male                                                                                     float64
Retirement age with partial benefits, male                                                                                  float64
Retirement age with full benefits, female                                                                                   float64
Retirement age with partial benefits, female                                                                                float64
School enrollment, tertiary, male (% gross)                                                                                 float64
School enrollment, tertiary (gross), gender parity index (GPI)                                                              float64
School enrollment, tertiary, female (% gross)                                                                               float64
School enrollment, tertiary (% gross)                                                                                       float64
Self-employed, female (% of female employment) (modeled ILO estimate)                                                       float64
Self-employed, male (% of male employment) (modeled ILO estimate)                                                           float64
Self-employed, total (% of total employment) (modeled ILO estimate)                                                         float64
Share of female business owners (% of total business owners)                                                                float64
Share of female sole proprietors  (% of sole proprietors)                                                                   float64
Share of female directors (% of total directors)                                                                            float64
Share of male business owners  (% of total business owners)                                                                 float64
Share of male sole proprietors  (% of sole proprietors)                                                                     float64
Share of male directors (% of total directors)                                                                              float64
Start-up procedures to register a business (number)                                                                         float64
Start-up procedures to register a business, male (number)                                                                   float64
Start-up procedures to register a business, female (number)                                                                 float64
Tertiary education, academic staff (% female)                                                                               float64
Time required to start a business (days)                                                                                    float64
Time required to start a business, male (days)                                                                              float64
Time required to start a business, female (days)                                                                            float64
Vulnerable employment, total (% of total employment) (modeled ILO estimate)                                                 float64
Vulnerable employment, female (% of female employment) (modeled ILO estimate)                                               float64
Vulnerable employment, male (% of male employment) (modeled ILO estimate)                                                   float64
Women Business and the Law Index Score (scale 1-100)                                                                        float64
dtype: object

In [24]:
# general info:
pd.set_option('display.max_columns', None)
dataset.describe()

,Ratio of female to male labor force participation rate (%) (modeled ILO estimate),"Cost of business start-up procedures, male (% of GNI per capita)","Cost of business start-up procedures, female (% of GNI per capita)",Cost of business start-up procedures (% of GNI per capita),"Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)","Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)","Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)","Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)","Employers, female (% of female employment) (modeled ILO estimate)","Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)","Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)","Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)","Employers, male (% of male employment) (modeled ILO estimate)","Employers, total (% of total employment) (modeled ILO estimate)","Employment to population ratio, 15+, female (%) (modeled ILO estimate)","Employment to population ratio, 15+, male (%) (modeled ILO estimate)","Employment to population ratio, 15+, total (%) (modeled ILO estimate)",Expected Years of School,"Expected Years of School, Male","Expected years of schooling, female",Female share of employment in senior and middle management (%),Female professional and technical workers (% of total),"Female share of graduates in Arts and Humanities programmes, tertiary (%)","Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)","Female share of graduates in Education programmes, tertiary (%)","Female share of graduates in Health and Welfare programmes, tertiary (%)","Female share of graduates in Natural Sciences, Mathematics and Statistics programmes, tertiary (%)","Female share of graduates in Services programmes, tertiary (%)","Female share of graduates in unknown or unspecified fields, tertiary (%)","Female share of graduates in Agriculture, Forestry, Fisheries and Veterinary programmes, tertiary (%)","Female share of graduates in Business, Administration and Law programmes, tertiary (%)","Female share of graduates in Engineering, Manufacturing and Construction programmes, tertiary (%)","Female share of graduates in Information and Communication Technologies programmes, tertiary (%)","Female share of graduates in other fields than Science, Technology, Engineering and Mathematics programmes, tertiary (%)","Female share of graduates in Social Sciences, Journalism and Information programmes, tertiary (%)",Firms with female participation in ownership (% of firms),Firms with female top manager (% of firms),GDP growth (annual %),GDP per capita (Current US$),GDP (current US$),GDP per capita (constant 2010 US$),Gini index,"GNI per capita, PPP (current international $)","GNI per capita, Atlas method (current US$)","GNI, Atlas method (current US$)","Government expenditure on education, total (% of GDP)","Gross graduation ratio, tertiary, male (%)","Gross graduation ratio, tertiary, total (%)","Gross graduation ratio, tertiary, female (%)","Human Capital Index (HCI), Female (scale 0-1)",Human Capital Index (HCI) (scale 0-1),"Human Capital Index (HCI), Male (scale 0-1)","Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)","Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)","Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)","Labor force, male","Labor force, female","Labor force, female (% of total labor force)","Labor force, total","Labor force with advanced education, female (% of female working-age population with advanced education)",Labor force with advanced education (% of total working-age population with advanced education),"Labor force with advanced education, male (% of male working-age population with advanced education)",Number of male directors,Number of male business owners,Number of male sole proprietors,Number of female sole proprietors,Number of female business owners,Number of female directors,"Population, female (% of total)","Population, total","Population, female","Population, male",Proportion of women in ministerial level positions (%),Ratio of female to male labor force participation rate (%) (national estimate),"Retirement age with full benefits, male","Retirement age with partial benefits, male","Retirement age with full benefits, female","Retirement age with partial benefits, female","School enrollment, tertiary, male (% gross)","School enrollment, tertiary (gross), gender parity index (GPI)","School enrollment, tertiary, female (% gross)","School enrollment, tertiary (% gross)","Self-employed, female (% of female employment) (modeled ILO estimate)","Self-employed, male (% of male employment) (modeled ILO estimate)","Self-employed, total (% of total employment) (modeled ILO estimate)",Share of female business owners (% of total business owners),Share of female sole proprietors (% of sole proprietors),Share of female directors (% of total directors),Share of male business owners (% of total business owners),Share of male sole proprietors (% of sole proprietors),Share of male directors (% of total directors),Start-up procedures to register a business (number),"Start-up procedures to register a business, male (number)","Start-up procedures to register a business, female (number)","Tertiary education, academic staff (% female)",Time required to start a business (days),"Time required to start a business, male (days)","Time required to start a business, female (days)","Vulnerable employment, total (% of total employment) (modeled ILO estimate)","Vulnerable employment, female (% of female employment) (modeled ILO estimate)","Vulnerable employment, male (% of male employment) (modeled ILO estimate)",Women Business and the Law Index Score (scale 1-100)
count,3737.000000,2825.000000,2825.000000,2825.000000,579.000000,583.000000,410.000000,413.000000,329.000000,3552.000000,410.000000,329.000000,330.000000,3552.000000,3552.000000,3737.000000,3737.000000,3737.000000,624.000000,587.000000,1892.000000,1267.000000,99.000000,1103.000000,952.000000,1116.000000,1117.000000,896.000000,966.000000,508.000000,1010.000000,959.000000,1063.000000,891.000000,943.000000,903.000000,364.000000,266.000000,3916.000000,3960.000000,3.956000e+03,3897.000000,1340.000000,3629.000000,3695.000000,3.698000e+03,2733.000000,1314.000000,1350.000000,1316.000000,526.000000,601.000000,525.000000,3737.000000,3737.000000,3737.000000,3.737000e+03,3.737000e+03,3737.000000,3.737000e+03,1730.000000,1735.000000,1733.000000,463.000000,490.000000,4.950000e+02,4.950000e+02,490.000000,463.000000,4123.000000,4.123000e+03,4.123000e+03,4.123000e+03,2059.000000,2226.000000,179.000000,86.000000,179.000000,86.000000,2333.000000,2333.000000,2335.000000,2448.000000,3552.000000,3552.000000,3552.000000,490.000000,495.000000,463.000000,490.000000,495.000000,463.000000,2825.000000,2825.000000,2825.000000,1657.000000,2825.000000,2825.000000,2825.000000,3552.000000,3552.000000,3552.000000,3780.000000
mean,70.814785,45.046265,45.048637,45.047717,17.024065,16.427465,6.138292,6.285894,0.739483,1.910313,6.375441,0.454802,0.601403,4.293341,3.351709,46.123862,65.974464,56.177703,11.263106,11.246926,13.917819,30.841180,47.717172,64.000392,33.288530,72.965277,71.824222,55.934978,47.095502,51.239900,44.118465,56.825115,27.291106,29.771382,63.358228,64.099002,33.033516,18.005639,3.229911,16991.394905,3.485641e+11,15762.319436,36.708881,18875.522182,14067.447903,3.699446e+11,4.438442,24.091468,29.650315,36.247299,0.592871,0.569469,0.560557,50.241197,70.966804,60.716516,1.051707e+07,6.908281e+06,41.088764,1.742534e+07,73.752157,78.063102,82.039880,31154.123110,28924.979592,6.566294e+04,4.373235e+04,11520.646939,14289.269978,50.001263,3.319575e+07,1.649639e+07,1.669936e+07,19.163314,71.234880,61.827095,58.784302,60.646927,57.793023,36.359029,1.090841,45.907030,40.333432,42.932208,40.910617,41.744225,23.914349,34.056683,23.116707,76.085651,65.942620,76.883293,8.201416,8.151193,8.280396,40.192498,32.230265,32.171604,32.300807,38.392512,41.021927,36.617280,71.355489
std,19.330627,95.978841,95.979222,95.979195,11.097828,9.969252,6.426935,6.182050,0.790935,1.817962,6.053860,0.503124,0.635696,2.826620,2.361435,15.219065,10.367168,11.418442,2.369802,2.284394,3.458119,10.312578,11.917266,14.114406,10.957656,16.415330,13.346609,14.190380,18.124404,21.070342,15.018743,11.274580,10.267713,14.546454,10.443120,11.907855,15.344700,9.856629,5.940514,25731.563340,1.531911e+12,22998.193081,7.939846,20646.639836,19682.027127,1.591092e+12,1.875639,14.552465,17.859997,21.935133,0.151399,0.145568,0.140530,14.940829,8.620659,10.216971,4.205642e+07,2.795384e+07,9.177280,6.889908e+07,11.342376,7.829576,7.210407,60131.398535,52532.487266,3.100935e+05,2.320400e+05,26552.146348,36445.197867,2.928859,1.316430e+08,6.418345e+07,6.747306e+07,13.233832,18.286051,3.764904,5.425930,4.254440,5.545126,24.988960,0.317842,32.968325,28.265939,31.658739,23.937113,27.017495,9.192244,11.873485,9.831016,9.192244,11.873413,9.831016,3.408475,3.373903,3.433592,13.800551,47.889702,47.882774,47.893550,27.582484,31.906246,24.683111,18.490789
min,6.985358,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023486,0.000000,0.000000,0.000000,0.049035,0.038077,3.418000,34.359000,22.634000,4.156989,4.148120,2.674240,1.194000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.634150,0.000000,0.000000,15.846460,0.000000,2.200000,0.100000,-54.335876,128.538423,2.279827e+07,262.184805,23.200000,460.000000,0.000000,1.196781e+04,0.127174,0.000000,0.000000,0.000000,0.278250,0.286075,0.293965,4.828000,44.661000,31.402000,2.149200e+04,1.431100e+04,6.537578,3.626000e+04,18.681000,29.631000,28.705000,2.000000,3.000000,2.000000e+00,6.000000e+00,1.000000,1.000000,23.394217,9.791000e+03,4.878000e+03,4.914000e+03,0.000000,9.229758,50.000000,45.000000,50.000000,45.000000,0.114940,0.064340,0.119900,0.117370,0.176692,0.367699,0.392793,0.947568,0.656969,0.456621,33.333333,25.000000,51.539895,1.000000,1.000000,1.000000,1.225110,0.500000,0.500000,0.500000,0.138086,0.035968,0.152085,23.750000
25%,61.173241,4.700000,4.700000,4.700000,8.092840,9.007685,1.046438,1.435310,0.235780,0.818423,1.571588,0.108020,0.193660,1.955370,1.580454,38.640000,59.725000,49.763000,9.709360,9.741590,12.080140,24.523500,41.500000,58.350410,28.047045,69.822005,67.093430,48.649820,34.907792,39.034617,35.599555,51.042540,21.125585,19.197420,60.776430,59.860300,22.675000,11.525000,1.139701,1856.920716,5.125616e+09,2087.693417,30.675000,4180.000000,1695.000000,6.077316e+09,3.148970,11.842478,13.684140,16.935902,0.465450,0.443490,0.437187,42.927000,65.715000,54.990000,6.049240e+05,3.935920e+05,38.328808,1.035268e+06,70.126250,74.580500,77.509000,2633.000000,2459.000000,2.326000e+03,9.360000e+02,745.750000,620.500000,49.626645,7.436200e+05,3.512115e+05,3.721965e+05,9.400000,63.642806,60.000000,55.000000,58.000000,55.000000,14.186393,0.923950,15.804050,14.877598,11.836135,19.866997,16.143666,16.547669,27.920564,15.184591,68.692628,58.786436,69.800976,6.000000,6.000000,6.000000,34.061600,11.000000,11.000000,11.000000,12.844412,9.862947,15.484846,59.375000
50%,76.279891,14.600000,14.600000,14.600000,15.750870,15.664090,2.702130,2.857600,0.541400,1.596863,3.053795,0.307300,0.456115,4.131915,3.124397,47.658000,65.428000,56.585000,12.066183,11.900000,14.418295,31.601000,50.000000,66.005960,33.688540,76.388515,74.725270,56.676765,48.711805,53.310260,45.451295,57.570360,27.336780,26.842110,65.143630,67.134900,32.750000,17.200000,3.452995,6044.474254,2.120552e+10,5878.753940,35.200000,11440.000000,5190.000000,2.386812e+10,4.254760,24.733600,29.930941,35.686890,0.603049,0.574536,0.559381,52.259000,70.771000,61.002000,1.988407e+06,1.373024e+06,44.448261,3.471429e+06,76.126000,79.286000,82.610000,7337.000000,8958.500000,8.988000e+03,4.769000e+03,2343.000000,2077.000000,50.329647,5.872624e+06,2.902421e+06,2.936844e+06,16.700000,75.840393,61.500000,60.000000,60.000000,60.000000,34.118271,1.184390,43.013344,37.794979,34.838017,35.570931,35.681703,23.239243,35.469108,22.927100,76.760757,64.530892,77.072900,8.000000,8.000000,8.000000,42.201832,19.000000,19.000000,19.000000,31.427071,32.171849,30.062551,75.000000
75%,84.519907,44.900000,44.900000,44.900000,24.904175,23.528120,10.707455,11.032940,1.018180,2.493270,11.483185,0.639700,0.815650,5.834815,4.440046,55.644000,73.029000,62.870000,13.123641,13.076027,16.302765,37.454000,55.000000,72.280180,40.373883,82.576253,79.578870,65.346570,59.208937,63.517798,54.324447,64.600720,33.804375,39.407470,69.124785,71.042645,42.550000,23.575000,5.900001,22022.533700,1.538108e+11,19573.857995,41.525000,26390.000000,17445.000000,1.718747e+11,5.407137,34.062907,43.619558,53.029733,0.730662,0.690006,0.678000,59.519000,76.918000,66.770000,6.304636e+06,4.164589e+06,47.151275,1.040133e+07,80.872250,83.171500,86.908000,27768.500000,23946.000000,3.027700e+04,1.584950e+04,7334.500000,7080.000000,51.031809,2.148494e+07,1.083443e+07,1.065532e+07,26.300000,83.923812,65.000000,62.925000,65.000000,61.750000,54.115719,1.298480,71.481991,62.046467,73.337719,59.889304,65.149694,31.307372,41.213564,30.199024,83.452331,72.079436,84.815409,10.000000,10.000000,10.000000,49.282299,38.000000,38.000000,38.000000,62.563439,71.979356,56.592673,85.000000
max,106.522469,1491.600000,1491.600000,1491.600000,60.980579,59.260880,28.711040,28.150810,7.788510,17.575264,27.547510,3.888950,5.474370,20.064412,17.294603,83.240000,96.498000,88.753000,13.960000,13.970139,23.585300,63.984000,71.000000,100.000000,75.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,94.230770,100.000000,100.000000,91.228070,100.000000,86.800000,64.800000,86.826748,240862.182448,2.543970e+13,228667.935283,64.800000,152630.000000,125210.000000,2.558601e+13,15.585125,98.154572,132.300690,169.243622,0.900133,0.887084,0.875118,87.123000,96.567000,88.870000,4.327395e+08,3.540347e+08,53.574437,7.818083e+08,100.000000,100.000000,100.000000,375857.000000,354579.000000,4.791536e+06,3.623478e+06,183226.000000,286897.000000,55.040714,1.417173e+09,6.915285e+08,7.311805e+08,66.666667,124.007209,70.000000,67.000000,70.000000,67.000000,144.787888,1.901330,156.148895,150.201767,99.312356,92.455785,94.661079,66.666667,75.000000,48.460105,99.052432,99.343031,99.543379,21.000000,21.000000,22.000000,84.533607,697.000000,697.000000,697.000000,93.991176,98.400922,91.399964,100.000000

In [35]:
#Check NA per column, i.e., nr of na rowns per column
dataset.isna().sum()

Time                                                                                                                           3
Country Name                                                                                                                   5
Ratio of female to male labor force participation rate (%) (modeled ILO estimate)                                            608
Cost of business start-up procedures, male (% of GNI per capita)                                                            1520
Cost of business start-up procedures, female (% of GNI per capita)                                                          1520
Cost of business start-up procedures (% of GNI per capita)                                                                  1520
Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)                          3766
Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)                           3762
Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)                            3935
Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)                             3932
Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)                                       4016
Employers, female (% of female employment) (modeled ILO estimate)                                                            793
Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)                              3935
Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)                                     4016
Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)                                      4015
Employers, male (% of male employment) (modeled ILO estimate)                                                                793
Employers, total (% of total employment) (modeled ILO estimate)                                                              793
Employment to population ratio, 15+, female (%) (modeled ILO estimate)                                                       608
Employment to population ratio, 15+, male (%) (modeled ILO estimate)                                                         608
Employment to population ratio, 15+, total (%) (modeled ILO estimate)                                                        608
Expected Years of School                                                                                                    3721
Expected Years of School, Male                                                                                              3758
Expected years of schooling, female                                                                                         2453
Female share of employment in senior and middle management (%)                                                              3078
Female professional and technical workers (% of total)                                                                      4246
Female share of graduates in Arts and Humanities programmes, tertiary (%)                                                   3242
Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)             3393
Female share of graduates in Education programmes, tertiary (%)                                                             3229
Female share of graduates in Health and Welfare programmes, tertiary (%)                                                    3228
Female share of graduates in Natural Sciences, Mathematics and Statistics programmes, tertiary (%)                          3449
Female share of graduates in Services programmes, tertiary (%)                                                              3379
Female share of graduates in unknown or unspecified fields, tertiary (%)                                                    3837
Female share of graduates in Agriculture, Forestry, Fisheries and Veterinary programmes, tertiary (%)                       3335
Female share of graduates in Business, Administration and Law programmes, tertiary (%)                                      3386
Female share of graduates in Engineering, Manufacturing and Construction programmes, tertiary (%)                           3282
Female share of graduates in Information and Communication Technologies programmes, tertiary (%)                            3454
Female share of graduates in other fields than Science, Technology, Engineering and Mathematics programmes, tertiary (%)    3402
Female share of graduates in Social Sciences, Journalism and Information programmes, tertiary (%)                           3442
Firms with female participation in ownership (% of firms)                                                                   3981
Firms with female top manager (% of firms)                                                                                  4079
GDP growth (annual %)                                                                                                        429
GDP per capita (Current US$)                                                                                                 385
GDP (current US$)                                                                                                            389
GDP per capita (constant 2010 US$)                                                                                           448
Gini index                                                                                                                  3005
GNI per capita, PPP (current international $)                                                                                716
GNI per capita, Atlas method (current US$)                                                                                   650
GNI, Atlas method (current US$)                                                                                              647
Government expenditure on education, total (% of GDP)                                                                       1612
Gross graduation ratio, tertiary, male (%)                                                                                  3031
Gross graduation ratio, tertiary, total (%)                                                                                 2995
Gross graduation ratio, tertiary, female (%)                                                                                3029
Human Capital Index (HCI), Female (scale 0-1)                                                                               3819
Human Capital Index (HCI) (scale 0-1)                                                                                       3744
Human Capital Index (HCI), Male (scale 0-1)                                                                                 3820
Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)                              608
Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)                                  608
Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)                                608
Labor force, male                                                                                                            608
Labor force, female                                                                                                          608
Labor force, female (% of total labor force)                                                                                 608
Labor force, total                                                                                                           608
Labor force with advanced education, female (% of female working-age population with advanced education)                    2615
Labor force with advanced education (% of total working-age population with advanced education)                             2610
Labor force with advanced education, male (% of male working-age population with advanced education)                        2612
Number of male directors                                                                                                    3882
Number of male business owners                                                                                              3855
Number of male sole proprietors                                                                                             3850
Number of female sole proprietors                                                                                           3850
Number of female business owners                                                                                            3855
Number of female directors                                                                                                  3882
Population, female (% of total)                                                                                              222
Population, total                                                                                                            222
Population, female                                                                                                           222
Population, male                                                                                                             222
Proportion of women in ministerial level positions (%)                                                                      2286
Ratio of female to male labor force participation rate (%) (national estimate)                                              2119
Retirement age with full benefits, male                                                                                     4166
Retirement age with partial benefits, male                                                                                  4259
Retirement age with full benefits, female                                                                                   4166
Retirement age with partial benefits, female                                                                                4259
School enrollment, tertiary, male (% gross)                                                                                 2012
School enrollment, tertiary (gross), gender parity index (GPI)                                                              2012
School enrollment, tertiary, female (% gross)                                                                               2010
School enrollment, tertiary (% gross)                                                                                       1897
Self-employed, female (% of female employment) (modeled ILO estimate)                                                        793
Self-employed, male (% of male employment) (modeled ILO estimate)                                                            793
Self-employed, total (% of total employment) (modeled ILO estimate)                                                          793
Share of female business owners (% of total business owners)                                                                3855
Share of female sole proprietors  (% of sole proprietors)                                                                   3850
Share of female directors (% of total directors)                                                                            3882
Share of male business owners  (% of total business owners)                                                                 3855
Share of male sole proprietors  (% of sole proprietors)                                                                     3850
Share of male directors (% of total directors)                                                                              3882
Start-up procedures to register a business (number)                                                                         1520
Start-up procedures to register a business, male (number)                                                                   1520
Start-up procedures to register a business, female (number)                                                                 1520
Tertiary education, academic staff (% female)                                                                               2688
Time required to start a business (days)                                                                                    1520
Time required to start a business, male (days)                                                                              1520
Time required to start a business, female (days)                                                                            1520
Vulnerable employment, total (% of total employment) (modeled ILO estimate)                                                  793
Vulnerable employment, female (% of female employment) (modeled ILO estimate)                                                793
Vulnerable employment, male (% of male employment) (modeled ILO estimate)                                                    793
Women Business and the Law Index Score (scale 1-100)                                                                         565
dtype: int64

In [56]:
#Count duplicates
def null_rows(df, exclude=None):
    if exclude is None:
        exclude = [] 
    else:
        exclude
    return df[df[df.columns.difference(exclude)].isna().all(1)]


print(null_rows(dataset, ['Country Name']))

     Time Country Name  \
4340  NaN          NaN
4341  NaN          NaN
4342  NaN          NaN

      Ratio of female to male labor force participation rate (%) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Cost of business start-up procedures, male (% of GNI per capita)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Cost of business start-up procedures, female (% of GNI per capita)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Cost of business start-up procedures (% of GNI per capita)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Employers, female (% of female employment) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Employers, male (% of male employment) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Employers, total (% of total employment) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Employment to population ratio, 15+, female (%) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Employment to population ratio, 15+, male (%) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Employment to population ratio, 15+, total (%) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Expected Years of School  Expected Years of School, Male  \
4340                       NaN                             NaN
4341                       NaN                             NaN
4342                       NaN                             NaN

      Expected years of schooling, female  \
4340                                  NaN
4341                                  NaN
4342                                  NaN

      Female share of employment in senior and middle management (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female professional and technical workers (% of total)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates in Arts and Humanities programmes, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates from Science, Technology, Engineering and Mathematics (STEM) programmes, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates in Education programmes, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates in Health and Welfare programmes, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates in Natural Sciences, Mathematics and Statistics programmes, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates in Services programmes, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates in unknown or unspecified fields, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates in Agriculture, Forestry, Fisheries and Veterinary programmes, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates in Business, Administration and Law programmes, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates in Engineering, Manufacturing and Construction programmes, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates in Information and Communication Technologies programmes, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates in other fields than Science, Technology, Engineering and Mathematics programmes, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Female share of graduates in Social Sciences, Journalism and Information programmes, tertiary (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Firms with female participation in ownership (% of firms)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Firms with female top manager (% of firms)  GDP growth (annual %)  \
4340                                         NaN                    NaN
4341                                         NaN                    NaN
4342                                         NaN                    NaN

      GDP per capita (Current US$)  GDP (current US$)  GDP per capita (constant 2010 US$)  \
4340                           NaN                NaN                                 NaN
4341                           NaN                NaN                                 NaN
4342                           NaN                NaN                                 NaN

      Gini index  GNI per capita, PPP (current international $)  \
4340         NaN                                            NaN
4341         NaN                                            NaN
4342         NaN                                            NaN

      GNI per capita, Atlas method (current US$)  GNI, Atlas method (current US$)  \
4340                                         NaN                              NaN
4341                                         NaN                              NaN
4342                                         NaN                              NaN

      Government expenditure on education, total (% of GDP)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Gross graduation ratio, tertiary, male (%)  Gross graduation ratio, tertiary, total (%)  \
4340                                         NaN                                          NaN
4341                                         NaN                                          NaN
4342                                         NaN                                          NaN

      Gross graduation ratio, tertiary, female (%)  \
4340                                           NaN
4341                                           NaN
4342                                           NaN

      Human Capital Index (HCI), Female (scale 0-1)  Human Capital Index (HCI) (scale 0-1)  \
4340                                            NaN                                    NaN
4341                                            NaN                                    NaN
4342                                            NaN                                    NaN

      Human Capital Index (HCI), Male (scale 0-1)  \
4340                                          NaN
4341                                          NaN
4342                                          NaN

      Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Labor force, male  Labor force, female  Labor force, female (% of total labor force)  \
4340                NaN                  NaN                                           NaN
4341                NaN                  NaN                                           NaN
4342                NaN                  NaN                                           NaN

      Labor force, total  \
4340                 NaN
4341                 NaN
4342                 NaN

      Labor force with advanced education, female (% of female working-age population with advanced education)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Labor force with advanced education (% of total working-age population with advanced education)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Labor force with advanced education, male (% of male working-age population with advanced education)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Number of male directors  Number of male business owners  Number of male sole proprietors  \
4340                       NaN                             NaN                              NaN
4341                       NaN                             NaN                              NaN
4342                       NaN                             NaN                              NaN

      Number of female sole proprietors  Number of female business owners  \
4340                                NaN                               NaN
4341                                NaN                               NaN
4342                                NaN                               NaN

      Number of female directors  Population, female (% of total)  Population, total  \
4340                         NaN                              NaN                NaN
4341                         NaN                              NaN                NaN
4342                         NaN                              NaN                NaN

      Population, female  Population, male  \
4340                 NaN               NaN
4341                 NaN               NaN
4342                 NaN               NaN

      Proportion of women in ministerial level positions (%)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Ratio of female to male labor force participation rate (%) (national estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Retirement age with full benefits, male  Retirement age with partial benefits, male  \
4340                                      NaN                                         NaN
4341                                      NaN                                         NaN
4342                                      NaN                                         NaN

      Retirement age with full benefits, female  Retirement age with partial benefits, female  \
4340                                        NaN                                           NaN
4341                                        NaN                                           NaN
4342                                        NaN                                           NaN

      School enrollment, tertiary, male (% gross)  \
4340                                          NaN
4341                                          NaN
4342                                          NaN

      School enrollment, tertiary (gross), gender parity index (GPI)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      School enrollment, tertiary, female (% gross)  School enrollment, tertiary (% gross)  \
4340                                            NaN                                    NaN
4341                                            NaN                                    NaN
4342                                            NaN                                    NaN

      Self-employed, female (% of female employment) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Self-employed, male (% of male employment) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Self-employed, total (% of total employment) (modeled ILO estimate)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Share of female business owners (% of total business owners)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Share of female sole proprietors  (% of sole proprietors)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Share of female directors (% of total directors)  \
4340                                               NaN
4341                                               NaN
4342                                               NaN

      Share of male business owners  (% of total business owners)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Share of male sole proprietors  (% of sole proprietors)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Share of male directors (% of total directors)  \
4340                                             NaN
4341                                             NaN
4342                                             NaN

      Start-up procedures to register a business (number)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN

      Start-up procedures to register a business, male (number)  \
4340                                                NaN
4341                                                NaN
4342                                                NaN
